.mini-layout {
    display: flex;
    height: 100% !important;
    margin: 0;
    padding: 0;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(15px) saturate(2.0) contrast(0.9);
}